 @media screen and (max-width: 576px) {
.patent-1{
text-align: center;
}
       .product-card {
      border-radius: 12px;
     padding:41px 82px 37px 20px ;
     margin-top: 50px;
      background-color: #f8f6f2;
      box-shadow: 0 4px 6px rgba(0,0,0,0.05);
      position: relative;
     text-align: center;
          height: 190px;
    width: 385px;
  
    }
   
    .products-card h6{
      text-align: center;
    }
    .badge-custom {
      font-size: 0.75rem;
      padding: 5px 10px;
      border-radius: 20px;
    }
    .btn-link-icon {
      display: inline-flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      color: #6c757d;
    }
    .product-img {
    max-height: 120px;
      object-fit: contain;
    }
   .img-01{
    position: relative;
     
    }  
    .img-0{
      position: absolute;
      right: 7px;
      top: 35px;
    }
    .clr{
      color:rgb(110, 56, 19) ;
    }
    .heading-3 h2{
      color: rgb(110, 56, 19) ;
    }
      .feature-box {
     
      background-color: #F2F2F2;
      border-radius: 10px;
     display: inline;
        text-align: center;
    /* justify-content: space-between;
    align-items: center;
    margin: auto; */
    }
      .icon-shape{
      position: relative;
    }
.position-1{
  position: absolute;
  right: 105px;
  top: 40px;
  font-size: 30px;
}
 .medicine {
   border-radius: 12px;
   padding: 41px 82px 37px 20px;
   background-color: #f8f6f2;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
   position: relative;
   justify-content: space-between;
   display: flex; 
   align-items: center;
       height: 200px;
    width: 380px;
 }
.medical-girl img{
         width: 387px;
        margin-top: 100px;
        margin-bottom: 35px;
}
 
.instant-discount{
width: 387px;
        margin-top: 20px;
        margin-bottom: 90px;
        background-color: #F2F2F2;
        color: #5e3e24;
        padding: 50px;
        border-radius: 8px;
}
}



@media (min-width: 768px) {
  .product-card {
    border-radius: 12px;
    padding: 41px 82px 37px 20px;
    margin-top: 50px;
    background-color: #f8f6f2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    position: relative;
    align-items: center;
    height: 190px;
    width: 229px;
}

 .medicine {
  border-radius: 12px;
        background-color: #f8f6f2;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        position: relative;
        
        height: 160px;
        width: 170px;
 }
 .medicine img{
  width: 100px;
 }

.medical-girl img{
         width: 327px;
        margin-top: 100px;
        margin-bottom: 35px;
}
 
.instant-discount{
     width: 362px;
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: #F2F2F2;
        color: #5e3e24;
        padding: 50px;
        border-radius: 8px;
}
 
 

}